<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        {% block stylesheets %}
            <link href="{{ asset('/css/w3.css') }}" rel="stylesheet" />
        {% endblock %}
        <title>{% block title %}Calendar Application{% endblock %}</title>
    </head>
    <body>
        <div class="w3-bar w3-border-bottom">
            <a class="w3-bar-item" href="/">Home</a>
        </div>
        <div class="w3-row">
            <div class="w3-col l2 m2">
                {% block sidebar %}
                    <div class="w3-bar-block w3-border-right">
                        <a class="w3-bar-item" href="{{ path('bitkorn_calendar_presentation_month') }}">Month</a>
                        <a class="w3-bar-item" href="{{ path('bitkorn_calendar_presentation_multimonth') }}">Multi Month</a>
                        <a class="w3-bar-item" href="{{ path('bitkorn_calendar_presentation_multimonthhorizontal') }}">Multi Month horizontal</a>
                    </div>
                {% endblock %}
            </div>
            <div class="w3-col l10 m10">
                {% block body %}
                {% endblock %}
            </div>
        </div>

        {% block javascripts %}
            <script src="{{ asset('js/app/global.js') }}"></script>
        {% endblock %}
    </body>
</html>