{% extends '@QondanaCalendar/layout/front.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/qondanacalendar/css/w3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/qondanacalendar/css/presentation/month-table.css') }}" />
{% endblock %}

{% block body %}
    {{ monthRenderer | raw }}
{% endblock %}