{% extends '@QondanaCalendar/layout/front.html.twig' %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('bundles/qondanacalendar/css/w3.css') }}" />
    <link rel="stylesheet" href="{{ asset('bundles/qondanacalendar/css/presentation/multi-month-horizontal-table.css') }}" />
{% endblock %}

{% block body %}
    <div class="w3-row">
        <div class="w3-col" style="overflow-x: scroll;">
            {{ multiMonthRenderer | raw }}
        </div>
    </div>
{% endblock %}