
table.month-renderer {
    border-spacing: 0;
    border-collapse: separate;
    padding: 4px 0;
}
table.month-renderer th {
    background-color: rgba(180, 160, 230, 0.5);
    text-align: center;
    font-size: 0.6em;
}
table.month-renderer td {
    width: 140px;
    border: 1px solid #888;
    padding: 0;
    margin: 0;
}
table.month-renderer th.month-renderer-weekno {
    width: 40px;
}
.day-header {
    background-color: rgba(170, 150, 255, 0.5);
    text-align: center;
    font-size: 0.6em;
    white-space: nowrap;
}
.day-header.saturday {
    background-color: rgba(210, 120, 120, 0.5);
    text-align: center;
    font-size: 0.6em;
}
.day-header.sunday {
    background-color: rgba(255, 120, 120, 0.5);
    text-align: center;
    font-size: 0.6em;
}
.day-periodday {
    background-color: rgba(0, 190, 130, 0.7);
    text-align: left;
    white-space: nowrap;
    float: left;
}
.day-periodday, .day-periodempty {
    /*border-bottom: 1px solid #888;*/
    font-size: 0.7em;
    width: 100%;
}
.day-periodday .term-header {
    background-color: rgba(0, 255, 130, 0.7);
    text-align: left;
    font-size: 1em;
}
.day-attachment {

}
td.month-renderer-day {
    background-color: white;
}
.multi-month {
    margin: 10px 0 0 0;
}
th.month-renderer-h {
    text-align: center;
    font-size: 1.1em !important;
}